{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/MNIST.css') }}" />
{% endblock %}

{% block title %}
Reconnaissance d'image
{% endblock %}

{% block description %}
Cette page permet de reconnaitre le nombre écrit dans le Canvas. <br>
Il semble toutefois y avoir quelques confusion entre les chiffres $\{1, 4, 7\}$
{% endblock %}

{% block content %}
<p>Dessine un nombre entre 0 et 9 inclus. <br>
{{ version }} va essayer de le reconnaitre ! <br>
</p>
<div class="center" id="image">
    <canvas id="canvas" width="128" height="128">
    </canvas>
</div>
<div>
    <button id="PredictButton" style="background-color: #4CAF50" onclick="predire()">Prediction</button>
    <button id="ClearButton" style="background-color: #FF784F" onclick="effacer()">Effacer Canvas</button>
</div>

<p id="Result"></p>
{% endblock %}

{% block script %}
<script>
    let version = {{ version|tojson }};
</script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/MNIST/predict.js') }}"></script>
{% endblock %}