{% extends 'base.html' %}

{% block title %}
Page Principale
{% endblock %}

{% block description %}
Page de présentation pour mon projet TIPE. <br>
Mon but est de faire une intelligence artificielle capable de retranscrire les paroles humaines. <br>
{% endblock %}

{% block references %}
<ul>
    <li>MNIST - Reconnaissance de chiffre écrit à la main</li>
    <div class="splitRef">
        <ul>
            <li><a href={{ url_for("imageGen.imageGen_index") }}>Générer des images</a></li>
            <li><a href={{ url_for("predict.predict_index", version="Keras" ) }}>Reconnaissance de chiffre avec
                    Keras</a></li>
            <li><a href={{ url_for("predict.predict_index", version="Numpy" ) }}>Reconnaissance de chiffre avec Numpy
                    (projet non finalisé)</a></li>
        </ul>

    </div>

    <li>Transformée de Fourrier - Traitement audio</li>
    <div class="splitRef">
        <ul>
            <li><a href="404.html">Transformée de Fourrier (projet pas commencé)</a></li>
        </ul>
    </div>

    <li><a href="https://github.com/tttienthinh/4Tipe">Code Source</a></li>
</ul>

{% endblock %}