:root {
    --green: #4CAF50; 
    --blue: #3AAED8;
    --brown: #DB9D47;
    --red: #FF784F;
    --bluegrey: #587792;
}

.centered{
    margin: 1rem;
    text-align: center;
}

canvas{
    border: 0.1rem solid#000000;
}

body{
    margin: 1rem;
    color: #587792;
}


.button{ 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#PredictButton{
    background-color: #4CAF50;
}
#ClearButton{
    background-color: #FF784F;
}